/* -----HEADER-- */

.logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(127, 214, 255);
  -webkit-box-shadow: 4px 16px 14px -7px rgba(66, 68, 90, 1);
  -moz-box-shadow: 4px 16px 14px -7px rgba(66, 68, 90, 1);
  box-shadow: 4px 16px 14px -7px rgba(66, 68, 90, 1);
}
.brand {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 14px;
  font-weight: 600;
}

.navLink {
  display: none;
  gap: 15px;
}

.companyHeader {
  background-color: lightskyblue;
  padding: 5px 0;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navItem {
  display: none;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 40px;
    height: 40px;
  }

  .brand {
    font-size: 16px;
  }

  .navItem {
    display: flex;
    gap: 16px;

    font-size: 16px;
    font-weight: 200;
    list-style: none;

    cursor: pointer;
  }

  .navContact {
    pointer-events: none;
    cursor: not-allowed;
    color: rgba(255, 255, 255, 0.25);
  }
}
