.box {
  position: relative;
  padding: 15px;
  width: 200px;
  height: 200px;

  background-color: #f1f1f1;
  border: 1px solid darkgray;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.5s linear;
}

.box:hover {
  transform: scale(1.05);
}

.dot {
  position: absolute;
  top: 0;
  left: 0;

  transform: translate(-50%, -50%);

  width: 22px;
  height: 22px;

  background-color: red;
  border-radius: 50%;
}

.serviceTypeNew {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border-radius: 0px;
}
