.frontSection {
  padding: 35px, 0;
  position: relative;
}

.landingImage {
  height: 574px;
  width: 1280px;
  width: 100%;
  height: calc(100vh-70px);

  filter: brightness(70%);
  object-fit: cover;
}

.frontContent {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  color: white;

  transform: translateY(-50%);
}

.frontFlexContainer {
  display: flex;
  flex-direction: column;
}

.frontHeading {
  font-size: 30px;
  font-weight: 700;
}

.frontText {
  padding: 0px 0px 20px 0px;

  font-size: 16px;
  font-weight: 700;
}

.frontButton {
  width: fit-content;
  padding: 10px 40px;

  font-size: 18px;
  font-weight: 700;

  color: white;

  background-color: transparent;
  border: 3px solid white;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .frontHeading {
    width: 550px;
  }
  .frontHeading {
    font-size: 36px;
  }
  .frontText {
    font-size: 18px;
  }
  .frontButton {
    padding: 15px 55px;
    font-size: 18px;
    border: 4px solid white;
  }
}

/*DESKTOPS* */
@media (min-width: 1440px) {
  /*Hover effects - Landing button */
  .frontButton {
    transition: all 1s ease-in-out;
  }

  .frontButton:hover {
    background-color: white;
    color: black;
  }

  /*Hover effects -services */

  .service-type {
    transition: all 0.5s linear;
  }

  .service-type:hover {
    transform: scale(1.05);
  }
}
